<p>Dear <%= @user.name %>,</p>

<p><%= @client.name %> has accepted your quote for <%= @bid.request_quote.product_name %>

<p>You can now  see <%= @client.name %> in your customers section and add the relevant products to <%= @client.name %>'s catalog.</p>

<p><%= @client.name %> will be able to place an order once you add products to their catalog.</p>

<p>The Bundle Team</p>
